@font-face {
    font-family: 'MALDINI';
    src: url('MALDINIBold.woff2') format('woff2'),
        url('MALDINIBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MALDINI NORMAL';
    src: url('MALDININORMAL.woff2') format('woff2'),
        url('MALDININORMAL.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MALDINI STYLE';
    src: url('MALDINISTYLE.woff2') format('woff2'),
        url('MALDINISTYLE.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

