 
@media all and (min-width: 1400px){ 
    .container	{
        max-width: 1370px;
    } 
    
}

@media all and (max-width: 1370px){
    .banner_left h2 {
        font-size: 60px; 
    } 
    .exit_video img {  
        width: 19%;
    }
    .alpha_card h4 { 
        font-size: 72px; 
    }
    .map_1 {
        width: 201px;
        height: 155px; 
    }
    .map_2 {
        width: 166px;
        height: 96px; 
        bottom: 217px;
        right: 190px; 
    }
    .map_3 {
        width: 86px;
        height: 109px; 
        bottom: 261px;
        right: 334px; 
    }
    .map_4 {
        width: 82px;
        height: 43px; 
        bottom: 353px;
        right: 306px; 
    }
    .map_5 {
        width: 188px;
        height: 84px; 
        bottom: 351px;
        right: 39px; 
    }
    .map_6 {
        width: 125px;
        height: 79px; 
        bottom: 253px;
        right: 93px; 
    }
    .map_7 {
        width: 63px;
        height: 56px; 
        bottom: 286px;
        left: 43px; 
    }
    .map_8 {
        width: 154px;
        height: 108px; 
        bottom: 239px;
        left: 197px; 
    }
    .map_9 {
        width: 95px;
        height: 72px; 
        bottom: 287px;
        left: 154px; 
    }
    .map_10 {
        width: 52px;
        height: 50px; 
        bottom: 144px;
        left: 65px; 
    }
    .map_11 {
        width: 162px;
        height: 58px; 
        bottom: 347px;
        left: 103px; 
    }
    .map_12 {
        width: 143px;
        height: 65px; 
        bottom: 202px;
        left: 113px; 
    }
    .season_orgin_img { 
        width: 82%;
    }
    .season { 
        width: 100%; 
    }
    .single_game ul li p {
        font-size: 32px; 
    }
    .single_game li img {
        width: 30px;
    }
    .discover_content_left h3 {
        font-size: 41px; 
        line-height: 43px; 
    }
    .explore_left { 
        width: 380px; 
    }
    .section_title h2 {
        font-size: 50px;
        line-height: 60px; 
    }
    .limited_text h3 {
        font-size: 40px;  
        line-height: 46px; 
    }
    .explore_left h4 {
        font-size: 27px; 
        line-height: 32px; 
    }
    .become_left h3 {
        font-size: 40px; 
    }
}

@media all and (max-width: 1199px){
    .logo { 
        gap: 2px;
    }
    .beta_banner h2 { 
        font-size: 125px; 
    }
    .beta_banner h3 { 
        font-size: 50px; 
    }
    .single_beta_img.single_beta_img_top {
        transform: translateY(85px);
    }
    .alpha_card ul li p { 
        font-size: 26px; 
    }
    .alpha_card ul li {
        margin-bottom: 4px;
    }
    .alpha_card h4 { 
        font-size: 50px; 
    }
    .map_1 {
        width: 147px;
        height: 93px;
    }
    .beta_banner h4 { 
        font-size: 40px; 
    }
    .map_2 {
        width: 123px;
        height: 68px;
        bottom: 177px;
        right: 160px;
    }
    .map_3 {
        width: 67px;
        height: 86px;
        bottom: 219px;
        right: 280px;
    }
    .map_4 {
        width: 60px;
        height: 38px;
        bottom: 294px;
        right: 261px;
    }
    .map_5 {
        width: 142px;
        height: 64px;
        bottom: 297px;
        right: 39px;
    }
    .map_6 {
        width: 115px;
        height: 70px;
        bottom: 209px;
        right: 75px;
    }
    .map_7 {
        width: 51px;
        height: 43px;
        bottom: 244px;
        left: 38px;
    }
    .map_8 {
        width: 112px;
        height: 95px;
        bottom: 196px;
        left: 167px;
    }
    .map_9 {
        width: 74px;
        height: 54px;
        bottom: 246px;
        left: 127px;
    }
    .map_10 {
        width: 49px;
        height: 45px;
        bottom: 124px;
        left: 50px;
    }
    .map_11 {
        width: 129px;
        height: 54px;
        bottom: 294px;
        left: 87px;
    }
    .map_12 {
        width: 116px;
        height: 52px;
        bottom: 173px;
        left: 98px;
    }
    .btn_1,
    .btn_2 { 
        font-size: 16px; 
    }
    .banner_left h2 {
        font-size: 47px;
        line-height: 49px;
    }
    .season_rightt h2 {
        font-size: 52px; 
    }
    .season_rightt h4 {
        font-size: 34px; 
    }
    .season_img { 
        top: 67px; 
        width: 45%;
    }
    .season_img img {
        width: 100%;
    }
    .single_partner img {
        width: 100%;
    }
    .single_game ul li p {
        font-size: 25px;
    }
    .single_game ul li { 
        padding: 17px 22px; 
    }
    .discover_content_left h3 {
        font-size: 30px;
        line-height: 27px;
    }
    .discover_content_left img {
        width: 50%;
    }
    .footer_menu ul { 
        gap: 35px;
    }
}

@media all and (max-width: 991px){
    .logo_btn { 
        gap: 10px;
    }
    .cursor_place_box {
        padding: 55px 55px;
        background: #13131B;
        border-radius: 41px;
        text-align: center;
    }
    .alpha_roadmap_2 {
        right: 26px;
    }
    .alpha_roadmap_2,
    .alpha_roadmap { 
        bottom: 12px; 
    }
    .alpha_roadmap_2 img ,
    .alpha_roadmap img {
        width: 70%;
    }
    .alpha_card ul li p {
        font-size: 22px;
        line-height: 32px;
    }
    .alpha_card h4 {
        font-size: 40px;
    }
    .alpha_card {
        padding: 20px 30px; 
        border-radius: 32px; 
    }
    .header_area { 
        position: relative;
        z-index: 9999;
    }
    .banner_area_add { 
        z-index: -1;
    }
    .btn_1.social_btn.mobile_bars i {
        font-size: 18px;
    }
    .map_1 {
        width: 99px;
        height: 62px;
    }
    .map_2 {
        width: 103px;
        height: 53px;
        bottom: 127px;
        right: 113px;
    }
    .map_3 {
        width: 54px;
        height: 74px;
        bottom: 158px;
        right: 207px;
    }
    .map_4 {
        width: 60px;
        height: 38px;
        bottom: 219px;
        right: 187px;
    }
    .map_5 {
        width: 109px;
        height: 57px;
        bottom: 215px;
        right: 27px;
    }
    .map_6 {
        width: 83px;
        height: 53px;
        bottom: 159px;
        right: 58px;
    }
    .map_7 {
        width: 38px;
        height: 36px;
        bottom: 181px;
        left: 27px;
    }
    .map_8 {
        width: 86px;
        height: 69px;
        bottom: 144px;
        left: 126px;
    }
    .map_9 {
        width: 61px;
        height: 45px;
        bottom: 181px;
        left: 95px;
    }
    .map_10 {
        width: 30px;
        height: 27px;
        bottom: 90px;
        left: 38px;
    }
    .map_11 {
        width: 92px;
        height: 44px;
        bottom: 212px;
        left: 69px;
    }
    .map_12 {
        width: 70px;
        height: 40px;
        bottom: 123px;
        left: 69px;
    }
    .season_btn a.btn_2 ,
    .season_btn a.btn_1 { 
        height: 50px;
    }
    .logo_main img {
        width: 152px;
    } 
    .btn_1.social_btn {
        height: 45px;
        width: 45px;
    }
    .explore_left .btn_2, .limited_text .btn_2 {
        width: 143px;
        height: 50px;
    }
    .become_btn .btn_1,
    .become_btn .btn_2 { 
        height: 50px;
    }
    .btn_1.join_btn,
    .logo_btn a {
        width: 130px; 
    }
    .banner_left h2 {
        font-size: 37px;
        line-height: 44px;
    }
    p {
        font-size: 16px; 
    }
    .season {
        padding: 50px; 
    }
    .game_img.game_img_2 img {
        width: 100%;
    }
    .single_game ul li p {
        font-size: 20px;
    }
    .game_img.game_img_1 img {
        width: 98px;
    }
    .discover_img {
        width: 700px; 
        top: -303px;
    }
    .single_rewords img { 
        width: 100%;
    }
    .rewords_row { 
        gap: 42px;
    }
    .section_title h2 {
        font-size: 40px;
        line-height: 46px;
    }
    .promotion_text ul p {
        font-size: 20px; 
    }
    .explore_left {
        width: 268px;
        padding: 20px;
    }
    .explore_left h4 {
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 5px;
    }
    .explore_btn { 
        margin-top: 6px;
    }
    .limited_text h3 {
        font-size: 22px;
        line-height: 26px;
    }
    .promotion_carsousel .owl-next { 
        right: -27px;
    }
    .promotion_carsousel .owl-prev { 
        left: -27px;
    }
    .become_left h3 {
        font-size: 26px;
        line-height: 35px;
        width: 100%;
    }
    .footer_menu ul li a { 
        font-size: 14px; 
    }
    .footer_menu ul {
        gap: 22px;
    }
    .banner_right {
        margin-top: 35px;
    } 
    .banner_left a {
        width: 182px;
        height: 50px;
    }
    
    .season_img { 
        width: 100%;
        position: inherit;
    }
    .season_contentt .row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
    .season { 
        padding-bottom: 0;
    }
}

@media all and (max-width: 767px){
    .map_1 {
        width: 115px;
        height: 66px;
    }
    .beta_banner h2 { 
        text-shadow: -4px 4px 0px rgba(91, 91, 91, 0.79), -8px 10px 0px rgba(136, 136, 136, 0.14), -9px 16px 14px rgba(91, 91, 91, 0.9);
    }
    .beta_shape_2,
    .beta_shape_1 { 
        width: 100%;
    }
    .beta_alpha_single.beta_reverse .row {
        flex-direction: column-reverse;
    }
    .beta_shape_2 { 
        top: inherit; 
        bottom: 0;
    }
    .alpha_roadmap ,
    .alpha_roadmap_2 { 
        display: none;
    }
    .alpha_shape_1 { 
        width: 100%; 
    }
    .beta_banner h2 {
        font-size: 80px;
    }
    .single_beta_img.single_beta_img_top {
        transform: translateY(0);
    }
    .beta_banner h4 {
        font-size: 29px;
        line-height: 32px;
    }
    .beta_banner h3 {
        font-size: 30px;
        margin-top: 20px;
    }
    .banner_left a { 
        position: relative;
        z-index: 99999;
    }
    .btn_blur img { 
        bottom: -86px; 
    }
    .btn_blur img { 
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .map_2 {
        width: 74px;
        height: 44px;
        bottom: 108px;
        right: 83px;
    }
    .map_3 {
        width: 58px;
        height: 69px;
        bottom: 184px;
        right: 233px;
    }
    .map_4 {
        width: 56px;
        height: 32px;
        bottom: 244px;
        right: 219px;
    }
    .map_5 {
        width: 126px;
        height: 52px;
        bottom: 247px;
        right: 27px;
    }
    .map_6 {
        width: 91px;
        height: 52px;
        bottom: 183px;
        right: 58px;
    }
    .map_7 {
        width: 34px;
        height: 31px;
        bottom: 205px;
        left: 33px;
    }
    .map_8 {
        width: 82px;
        height: 75px;
        bottom: 163px;
        left: 150px;
    }
    .map_9 {
        width: 58px;
        height: 42px;
        bottom: 204px;
        left: 105px;
    }
    .map_10 {
        width: 28px;
        height: 27px;
        bottom: 104px;
        left: 45px;
    }
    .map_11 {
        width: 107px;
        height: 44px;
        bottom: 239px;
        left: 75px;
    }
    .map_12 {
        width: 85px;
        height: 49px;
        bottom: 136px;
        left: 79px;
    }
    .banner_left {
        text-align: center;
    }
    .promotion_carsousel_2 .owl-next { 
        left: inherit;
        top: 20%;
        right: 0;
    }
    .promotion_carsousel_2 .owl-prev {  
        top: 20%; 
    }
    .banner_left a {
        margin: 0 auto;
    }
    .logo_btn a {
        width: 105px; 
    }
    .single_game ul li p {
        font-size: 14px;
    }
    .explore_left p {
        margin-bottom: 25px;
    }
    .single_game ul li {
        padding: 9px 12px;
    }
    .explore_left .btn_2, .limited_text .btn_2 { 
        margin: 0 auto;
    }
    .single_game li img {
        width: 18px;
    }
    .single_game_border::after { 
        right: -16px; 
    }

    .game_img.game_img_1 img {
        width: 71px;
    }
    .season {
        padding: 50px 50px 0 50px;
    }
    .section_title {
        margin-bottom: 40px;
    }
    .section_padding {
        padding: 45px 0;
    }
    .single_partner img {
        width: 50%; 
    }
    .single_partner {
        text-align: center;
        margin-bottom: 36px;
    } 
    .single_game ul li { 
        width: 100%;
    }
    .discover_content { 
        -webkit-box-orient: vertical; 
        -webkit-box-direction: normal; 
            -ms-flex-direction: column; 
                flex-direction: column;
        gap: 25px;
    }
    .discover_img {
        width: 300px;
        top: 0;
        position: inherit;
    }
    .discover_img img {
        -o-object-fit: cover;
           object-fit: cover;
        height: 219px;
        margin-top: -74px;
    }
    .rewords_row { 
        -webkit-box-orient: vertical; 
        -webkit-box-direction: normal; 
            -ms-flex-direction: column; 
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .promotion_carsousel {
        width: 100%; 
    }
    .explore_left { 
        position: inherit; 
        width: 100% !important;
        margin-top: 43px;
    }
    .explore_content .row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
    .limited_text {
        width: 100%;
        margin-top: 25px;
        text-align: center;
    }
    .become_left {
        text-align: center;
    }
    .become_btn { 
        -webkit-box-pack: center; 
            -ms-flex-pack: center; 
                justify-content: center;
    }
    .footer_social ul { 
        -webkit-box-pack: center; 
            -ms-flex-pack: center; 
                justify-content: center;
        gap: 14px;
        margin-top: 34px;
    }
    .header_copy {
        text-align: center;
    }
    .header_cond_term ul { 
        -webkit-box-pack: center; 
            -ms-flex-pack: center; 
                justify-content: center;
        gap: 48px;
        margin-top: 25px;
    }
    .limite_carousel .single_promotion img {
        width: 90% !important;
        margin: 0 auto;
    }
    .mobile_hide {
        display: none;
    } 
    .dekstop_hide{ 
        display: block;
    }
    /* .mobile_menu_main {
	display: none;
} */
}

@media all and (max-width: 575px){ 
    .beta_banner h2 {
        font-size: 65px;
    }
    .cursor_place_box p {
        font-size: 18px;
        line-height: 23px;
    }
    .alpha_card ul li p {
        font-size: 18px;
        line-height: 26px;
    }
    .alpha_card h4 {
        font-size: 30px;
        margin-bottom: 0px;
    }
    .cursor_place_box {
        padding: 30px; 
        border-radius: 20px; 
    }
    .beta_banner h3 {
        font-size: 27px;
        margin-top: 10px;
    }
    .beta_banner h4 {
        font-size: 20px;
        line-height: 17px;
    }
    .map_1 {
        width: 99px;
        height: 62px;
    }
    .single_promotion img {
        width: 68% !important; 
    }
    .map_2 {
        width: 103px;
        height: 53px;
        bottom: 127px;
        right: 113px;
    }
    .map_3 {
        width: 54px;
        height: 74px;
        bottom: 158px;
        right: 207px;
    }
    .map_4 {
        width: 60px;
        height: 38px;
        bottom: 219px;
        right: 187px;
    }
    .map_5 {
        width: 109px;
        height: 57px;
        bottom: 215px;
        right: 27px;
    }
    .map_6 {
        width: 83px;
        height: 53px;
        bottom: 159px;
        right: 58px;
    }
    .map_7 {
        width: 38px;
        height: 36px;
        bottom: 181px;
        left: 27px;
    }
    .map_8 {
        width: 86px;
        height: 69px;
        bottom: 144px;
        left: 126px;
    }
    .map_9 {
        width: 61px;
        height: 45px;
        bottom: 181px;
        left: 95px;
    }
    .map_10 {
        width: 30px;
        height: 27px;
        bottom: 90px;
        left: 38px;
    }
    .map_11 {
        width: 92px;
        height: 44px;
        bottom: 212px;
        left: 69px;
    }
    .map_12 {
        width: 70px;
        height: 40px;
        bottom: 123px;
        left: 69px;
    }
    .discover_content_left h3 {
        font-size: 25px;
        line-height: 17px;
    }
    .btn_2 img {
        width: 17px !important; 
    }
    .seaeson_blur { 
        bottom: 0; 
        top: unset;
    }
    .logo { 
        width: 100%;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .banner_left h2 {
        font-size: 31px;
        line-height: 44px;
        margin-top: 40px;
    }
    .season_rightt h2 {
        font-size: 40px;
    }
    .season_rightt h4 {
        font-size: 24px;
    }
    .season_rightt p {
        margin: 12px auto 26px auto;
        width: 100%;
    }
    p {
        font-size: 14px;
    }
    .section_title h2 {
        font-size: 30px; 
        line-height: 30px;
    }
    .single_partner img {
        width: 150px;
    }
    .rewords_btm_text { 
        width: 88%; 
    }
    .explore_btn {
        text-align: center; 
        margin-top: 31px;
    }
    .explore_left { 
        text-align: center;
    }
    .limite_carousel .single_promotion img {
        width: 77% !important; 
    }
    .becone_area {
        margin-bottom: 418px;
    }
    body{	 
        background: url(../images/bg.png) no-repeat scroll center center / cover; 
    }
    .footer_menu ul {
        gap: 5px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .season_img img { 
        margin-top: 38px;
    }
    .season { 
        border-radius: 15px; 
    }
    .promotion_carsousel .owl-prev img ,
    .promotion_carsousel .owl-next img {
        width: 60px;
    }
    .promotion_carsousel .owl-prev ,
    .promotion_carsousel .owl-next { 
        top: 40%; 
    }
}

@media all and (max-width: 450px){
    .map_1 {
        width: 98px;
        height: 52px;
        bottom: 49px;
        right: 22px;
    }
    .map_2 {
        width: 80px;
        height: 42px;
        bottom: 102px;
        right: 90px;
    }
    .map_3 {
        width: 41px;
        height: 59px;
        bottom: 127px;
        right: 168px;
    }
    .map_4 {
        width: 51px;
        height: 34px;
        bottom: 173px;
        right: 147px;
    }
    .map_5 {
        width: 85px;
        height: 44px;
        bottom: 175px;
        right: 27px;
    }
    .map_6 {
        width: 66px;
        height: 39px;
        bottom: 131px;
        right: 45px;
    }
    .map_7 {
        width: 35px;
        height: 34px;
        bottom: 143px;
        left: 20px;
    }
    .map_8 {
        width: 74px;
        height: 56px;
        bottom: 120px;
        left: 101px;
    }
    .map_9 {
        width: 56px;
        height: 40px;
        bottom: 142px;
        left: 73px;
    }
    .map_10 {
        width: 30px;
        height: 27px;
        bottom: 72px;
        left: 29px;
    }
    .map_11 {
        width: 74px;
        height: 31px;
        bottom: 173px;
        left: 55px;
    }
    .map_12 {
        width: 70px;
        height: 33px;
        bottom: 102px;
        left: 60px;
    }
    .banner_left h2 {
        font-size: 27px;
        line-height: 36px;
        margin-top: 40px;
    }
    .single_game ul li p {
        font-size: 11px;
    }
    .single_game ul li { 
        margin-bottom: 10px; 
    }
    .game_img.game_img_1 img {
        width: 47px;
    }
    .season_btn { 
        gap: 10px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .btn_1, .btn_2 { 
        -webkit-box-pack: center; 
            -ms-flex-pack: center; 
                justify-content: center;
    }
    .single_game_border::after { 
        width: 2px; 
    }
    .season_btn a.btn_1 ,
    .season_btn a.btn_2 {
        width: auto; 
    } 
    .become_btn { 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
}

